<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redireciona tudo para o index.html, exceto se for um arquivo ou diretório existente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.html [L]
</IfModule>

# Adiciona Cache-Control para melhorar o desempenho
<IfModule mod_headers.c>
    <FilesMatch "\.(ico|jpg|jpeg|png|gif|js|css|woff|woff2|ttf|svg|eot|otf|webp|mp4|avi|mov|mkv|webm)$">
        Header set Cache-Control "max-age=31536000, public"
    </FilesMatch>
</IfModule>
